* {
    margin: 0;
    background-color: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: #ffffff;
}

.background_button {
    width: max-content;
    padding: 10px;
    display: flex;
    gap: 10px;

    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;

    -webkit-box-shadow: 14px 21px 97px -20px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 14px 21px 97px -20px rgba(34, 60, 80, 0.2);
    box-shadow: 14px 21px 97px -20px rgba(34, 60, 80, 0.2);
}

.background_button button {
    padding: 10px;
}