@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    width: 80%;
    height: auto;
    padding: 20px 0;
    border: 1px solid black;
    margin: 0 auto;
    font-family: "Ralewey" ,sans-serif;
}

.menu_first{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.menu_second{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.address h3{
font-size: 20px;
    font-weight: bold;
}
.address p{
    font-size: 14px;
    margin-top: 5px;
}
.logo{
    width: fit-content;
}
.logo h1{
    display: flex;
    flex-direction: column;
    font-size: 45px;
    align-items: center;
}
.logo h1 span{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.icons{
    font-size: 28px;
    color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.icons i:hover{
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.menu_second{
    margin-top: 50px;
}

.menu_second a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    flex: 1;
    text-align: center;
    padding: 8px 0;

}

.menu_second a:hover{
    background-color: black;
    color:#fff;
}