h1 {
    color: rgba(135, 23, 239, 0.608);
    font-size: 52px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    color: #aeff00;
    font-size: 25px;
}

.p111 {
    color: #252f0f;
    font-size: 19px;
}

.p333 {
    color: #a0065096;
    font-size: 40px;
}

#t34 {
    color: #ffd900;
    font-size: 30px;
}

.w1{
    color: #070093;
    color: #070093;
}

.w2{
    color: #ffa4f1;
}

.w3{
    color: #3976f8;
    background: #aeff007e;
}


.w4{
    color: #ff0000;
}
.w5{
    color: #ff0000;
    font size:10px; ;
}

.w6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}