.q {
    background: rgb(33, 33, 255);
    color: #ffee00;
    height: 30px;
    font-size: 25px;
}

.w {
    background-color: rgb(0, 0, 150);
    height: 300px;
    color: white;
    font-size: 50px;
}

.r {
    width: 300px;
    height: 300px;
    background: rgb(33, 33, 255);
    margin-left: 30px;
    color: white;
    margin-top: 30px;
}

.t {
    width: 300px;
    height: 300px;
    background: rgb(33, 33, 255);
    margin-left: 360px;
    color: white;
    margin-top: -300px;
}

.y {
    width: 300px;
    height: 300px;
    background: rgb(33, 33, 255);
    margin-left: 690px;
    color: white;
    margin-top: -300px;
}

.a {
    width: 200px;
    height: 200px;
    background: rgb(33, 33, 255);
    margin-left: 30px;
    color: white;
    margin-top: 30px;
}

.s {
    width: 200px;
    height: 200px;
    background: rgb(33, 33, 255);
    margin-left: 250px;
    color: white;
    margin-top: -200px;
}

.d {
    width: 200px;
    height: 200px;
    background: rgb(33, 33, 255);
    margin-left: 500px;
    color: white;
    margin-top: -200px;
}

.f {
    width: 200px;
    height: 200px;
    background: rgb(33, 33, 255);
    margin-left: 750px;
    color: white;
    margin-top: -200px;
}