*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 400px;
    height: auto;
    margin: 50px auto;
    border: 1px solid black;
    position: relative;
    border-radius: 10px;
}

.main img{
    border-radius: 5px;
    width: 100%;
}

.main .tag{
    border-radius: 24px;
    width: max-content;
    padding: 12px 24px ;
    font-size: 18px;
    font-weight: 700;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;

