* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (width <=1280px) {
    .grid {
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 50px auto;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: 1fr 1fr; */
        gap: 20px;

    }

    .grid-item {
        height: 100px;
        padding: 30px;
        background-color: #ff723a;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
    }

    .fgfg {
        width: 100%;
        margin: 20px;
        height: 300px;
        background-color: #fbff00;
    }

    .grids {
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 50px auto;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: 1fr 1fr; */
        gap: 20px;
    }

    .grids-item {
        height: 200px;
        padding: 30px;
        background-color: #1e74ff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
    }


    .gridsu {
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 50px auto;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: 1fr 1fr; */
        gap: 20px;
    }

    .gridsu-item {
        height: 200px;
        padding: 30px;
        background-color: #919191;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
    }


}

@media (width <=768px) {
    .grid {
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 50px auto;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: 1fr 1fr; */
        gap: 20px;

    }

    .grid-item {
        height: 100px;
        padding: 30px;
        background-color: #ff723a;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
    }

    .fgfg {
        width: 100%;
        margin: 20px;
        height: 300px;
        background-color: #fbff00;
    }

    .grids {
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 50px auto;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: 1fr 1fr; */
        gap: 20px;
    }

    .grids-item {
        height: 200px;
        padding: 30px;
        background-color: #1e74ff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
    }


    .gridsu {
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 50px auto;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: 1fr 1fr; */
        gap: 20px;
    }

    .gridsu-item {
        height: 200px;
        padding: 30px;
        background-color: #919191;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
    }


}

@media (width <=320px) {
    .grid {
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 50px auto;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: 1fr 1fr; */
        gap: 20px;

    }

    .grid-item {
        height: 100px;
        padding: 30px;
        background-color: #ff723a;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
    }

    .fgfg {
        width: 100%;
        margin: 20px;
        height: 300px;
        background-color: #fbff00;
    }

    .grids {
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 50px auto;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: 1fr 1fr; */
        gap: 20px;
    }

    .grids-item {
        height: 200px;
        padding: 30px;
        background-color: #1e74ff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
    }


    .gridsu {
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 50px auto;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: 1fr 1fr; */
        gap: 20px;
    }

    .gridsu-item {
        height: 200px;
        padding: 30px;
        background-color: #919191;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
    }

}